<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Quản Lý Đặt Chỗ</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">

        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/templatemo-topic-listing.css" rel="stylesheet">
        <style>
            .navbar {
                background-color: #367d96; /* Màu nền của header */
                color: white; /* Màu chữ của header */
            }

            .navbar .navbar-toggler-icon {
                color: white; /* Màu biểu tượng toggle */
            }

            .dropdown-menu a.dropdown-item:hover {
                background-color: #367d96; /* Màu nền khi hover */
                color: white; /* Màu chữ khi hover */
            }
        </style>
    </head>

    <body>
        <div>
            <!-- Header -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <i class="bi-back"></i>
                        <span class="ms-2">MEMBER</span>
                    </a>

                    <!-- Button toggler for small screens -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Phần trái của thanh điều hướng -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto"></ul>
                    </div>

                    <!-- Phần phải của thanh điều hướng -->
                    <div class="d-flex align-items-center">
                        <div class="dropdown">
                            <a href="#" class="navbar-icon bi-person smoothscroll me-4" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                               <li><a class="dropdown-item" th:href="@{'/hosothanhvien?maTV=' + ${member.maTV}}">Hồ sơ thành viên</a></li>
                                <li><a class="dropdown-item" th:href="@{/doimatkhau}">Đổi Mật Khẩu</a></li>
                                <li><a class="dropdown-item" th:href="@{'/trangthaivipham?maTV=' + ${member.maTV}}">Trạng thái vi phạm</a></li>
                                <li><a class="dropdown-item"  th:href="@{'/datchothietbi?maTV=' + ${member.maTV}}">Đặt chỗ thiết bị</a></li>
                                <li><a class="dropdown-item"  th:href="@{'/thietbidangmuon?maTV=' + ${member.maTV}}">Thiết bị đang mượn</a></li>
                                <li><a class="dropdown-item" th:href="@{/login}">Đăng xuất</a></li>
                            </ul>
                            <span class="me-2" th:text="${member.maTV}"></span>
                        </div>
                    </div>              
              </div>
        </nav>

        <div class="container mt-4">
            <h4 class="mb-4">QUẢN LÝ ĐẶT CHỖ </h4>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Tìm kiếm...">
                <button class="btn btn-primary ml-2" type="button" onclick="search()"><i class="bi bi-search"></i></button>
            </div>
        
            <!-- Thêm các nút vào đây -->
            <div class="d-flex justify-content-center align-items-center my-3">
                <button class="btn btn-success me-2 m-2"><i class="bi bi-plus">Mượn thiết bị</i></button>
                <button class="btn btn-warning"><i class="bi bi-trash">Đặt Chỗ</i></button>
            </div>
        
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">STT</th>
                        <th scope="col" class="text-center">Mã Thiết Bị</th>
                        <th scope="col" class="text-center">Tên Thiết Bị</th>
                        <th scope="col" class="text-center">Mô Tả</th>
                        <th scope="col" class="text-center">Trạng Thái</th>
                    </tr>
                </thead>
                <tbody class="body_table">
                    <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">Laptop</td>
                        <td class="text-center">Máy tính</td>
                        <td class="text-center">5</td>
                        <td class="text-center">còn</td>
                    </tr>
                    <!-- Thêm các hàng khác nếu cần thiết -->
                </tbody>
            </table>
        </div>
    </div>
    <!-- JAVASCRIPT FILES -->

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/click-scroll.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/searchTB.js"></script>
    </body>
</html>